<div class="f-carousel" id="myCarousel">
  <div class="f-carousel__slide" data-thumb-src="{{ site.url }}/images/products/{{ page.image }}-{{ page.image1 }}.jpg">
    <img data-lazy-src="{{ site.url }}/images/products/{{ page.image }}-{{ page.image1 }}.jpg" width="500" height="333" class="img-responsive center-block" alt="{{ page.title }} {{ page.image1 }}">
  </div>{% if page.image2 == 'wu' %}{% else %}
  <div class="f-carousel__slide" data-thumb-src="{{ site.url }}/images/products/{{ page.image }}-{{ page.image2 }}.jpg">
    <img data-lazy-src="{{ site.url }}/images/products/{{ page.image }}-{{ page.image2 }}.jpg" width="500" height="333" class="img-responsive center-block" alt="{{ page.title }} {{ page.image2 }}">
  </div>{% endif %}{% if page.image3 == 'wu' %}{% else %}
  <div class="f-carousel__slide" data-thumb-src="{{ site.url }}/images/products/{{ page.image }}-{{ page.image3 }}.jpg">
    <img data-lazy-src="{{ site.url }}/images/products/{{ page.image }}-{{ page.image3 }}.jpg" width="500" height="333" class="img-responsive center-block" alt="{{ page.title }} {{ page.image3 }}">
  </div>{% endif %}{% if page.image4 == 'wu' %}{% else %}
  <div class="f-carousel__slide" data-thumb-src="{{ site.url }}/images/products/{{ page.image }}-{{ page.image4 }}.jpg">
    <img data-lazy-src="{{ site.url }}/images/products/{{ page.image }}-{{ page.image4 }}.jpg" width="500" height="333" class="img-responsive center-block" alt="{{ page.title }} {{ page.image4 }}">
  </div>{% endif %}{% if page.image5 == 'wu' %}{% else %}
  <div class="f-carousel__slide" data-thumb-src="{{ site.url }}/images/products/{{ page.image }}-{{ page.image5 }}.jpg">
    <img data-lazy-src="{{ site.url }}/images/products/{{ page.image }}-{{ page.image5 }}.jpg" width="500" height="333" class="img-responsive center-block" alt="{{ page.title }} {{ page.image5 }}">
  </div>{% endif %}{% if page.image6 == 'wu' %}{% else %}
  <div class="f-carousel__slide" data-thumb-src="{{ site.url }}/images/products/{{ page.image }}-{{ page.image6 }}.jpg">
    <img data-lazy-src="{{ site.url }}/images/products/{{ page.image }}-{{ page.image6 }}.jpg" width="500" height="333" class="img-responsive center-block" alt="{{ page.title }} {{ page.image6 }}">
  </div>{% endif %}{% if page.image7 == 'wu' %}{% else %}
  <div class="f-carousel__slide" data-thumb-src="{{ site.url }}/images/products/{{ page.image }}-{{ page.image7 }}.jpg">
    <img data-lazy-src="{{ site.url }}/images/products/{{ page.image }}-{{ page.image7 }}.jpg" width="500" height="333" class="img-responsive center-block" alt="{{ page.title }} {{ page.image7 }}">
  </div>{% endif %}{% if page.image8 == 'wu' %}{% else %}
  <div class="f-carousel__slide" data-thumb-src="{{ site.url }}/images/products/{{ page.image }}-{{ page.image8 }}.jpg">
    <img data-lazy-src="{{ site.url }}/images/products/{{ page.image }}-{{ page.image8 }}.jpg" width="500" height="333" class="img-responsive center-block" alt="{{ page.title }} {{ page.image8 }}">
  </div>{% endif %}{% if page.image9 == 'wu' %}{% else %}
  <div class="f-carousel__slide" data-thumb-src="{{ site.url }}/images/products/{{ page.image }}-{{ page.image9 }}.jpg">
    <img data-lazy-src="{{ site.url }}/images/products/{{ page.image }}-{{ page.image9 }}.jpg" width="500" height="333" class="img-responsive center-block" alt="{{ page.title }} {{ page.image9 }}">
  </div>{% endif %}{% if page.image10 == 'wu' %}{% else %}
  <div class="f-carousel__slide" data-thumb-src="{{ site.url }}/images/products/{{ page.image }}-{{ page.image10 }}.jpg">
    <img data-lazy-src="{{ site.url }}/images/products/{{ page.image }}-{{ page.image10 }}.jpg" width="500" height="333" class="img-responsive center-block" alt="{{ page.title }} {{ page.image10 }}">
  </div>{% endif %}
</div>